<%= render "shared/header" %>

<div>
  <%#= f.label :hoge, '日付を入れてね', class: 'hogehoge' %>
  <%#= f.date_field :hoge, class: 'hogehoge' %>
  <%#= f.label :hoge, '時間を入れてね', class: 'hogehoge' %>
  <%#= f.time_field :hoge, class: 'hogehoge' %>
</div>

<%= render "shared/footer" %>