/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
  font-family: nitalago-rera,sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー始まり */
.header{
  height: 120px;
  width: 100%;
  background-image:url(https://www.sakaiku.jp/column/assets_c/2021/02/audience-1866738_640%20%282%29-thumb-600xauto-28629.jpg);
  background-size: cover;
}

.header-filter{
  height: 100%;
  background: rgba(255,255,255,0.3);
}

.logo{
  margin: 10px 35px 10px 40px;
  width: 280px;
  height: 100px;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.nav_left{
  display: flex;
}

.nav_button{
  margin:auto 35px;
  color: white;
}

.nav_right{
  display: flex;
}

.nav_btn{
  padding: 18px 31px;
  margin: auto 35px;
  color: white;
}

@keyframes moving{
  100% {
    transform: translateX(3000px);
  }
}

@keyframes moving2{
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  0% {
    transform: translateY(0px);
  }
}

.moving{
  animation: moving 10s linear infinite;
}

.moving2{
  animation: moving2 0.1s linear infinite;
}

/* ヘッダー終わり */


/* メイン始まり */
.kensaku{
  width: 100%;
  height: 789px;
  background-image: url(food-truck.jpg);
  background-size: cover;
}

.kensaku-filter{
  height: 100%;
  background: rgba(255,255,255,0.5);
}

.main-title{
  padding-top: 60px;
  margin-bottom: 60px;
  margin-left: 30px;
}

.text{
  text-align: center;
}

.top_logo{
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 40px;
  width: 300px;
  height: 180px;
}

.search-form{
  padding-bottom: 50px;
}

.search_type{
  margin: 60px 40px;
  text-align: center;
}

.search-icon{
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.main-cars{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rank-cars{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card{
  width: calc((100% - 50px) / 4);
  margin-bottom: 40px;
}

.card-summary{
  font-size: 18px;
}

.car-icon{
  height:250px;
  width:350px;
}

.viewmore-icon{
  margin-bottom: 60px;
}

.viewmore-summary{
  display: block;
  margin: 0 auto;
}

/* メイン終わり */


/* フッター始まり */
.footer {
  background-color: #999;
  padding: 10px 0;
  margin-top: 100px;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

 /* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}
 /* タブレット対応 */

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}
 /* スマホ表示終わり */